<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
		<filter-name>init</filter-name>
		<filter-class>com.jmw.filesite.utils.InitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>init</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter> 
<filter-name>CorsFilter</filter-name> 
<filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class> 
  </filter> 
  <filter-mapping> 
<filter-name>CorsFilter</filter-name> 
<url-pattern>/*</url-pattern> 
  </filter-mapping>
	<servlet>
		<servlet-name>SignUpload</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.SignUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignShowPic</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.SignShowPic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignDownFile</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.SignDownFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.Upload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadAndRename</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.UploadAndRename</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UploadAndRenameFive</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.UploadAndRenameFive</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFive</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.UploadFive</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CorpUploadAndRename</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.CorpUploadAndRename</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KbUpload</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.KbUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownFile</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.DownFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OnlineAuditingFile</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.OnlineAuditingFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportOutputFile</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.ReportOutputFile</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>OnlineAuditingUpload</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.OnlineAuditingUpload</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>ReportOutputUpload</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.ReportOutputUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KbDownFile</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.KbDownFile</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>ShowPic</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.ShowPic</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OosFile</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.OosFile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDel</servlet-name>
		<servlet-class>com.jmw.filesite.web.servlet.FileDel</servlet-class>
	</servlet>
	<servlet>
    <servlet-name>DownFixedFile</servlet-name>
    <servlet-class>com.jmw.filesite.web.servlet.DownFixedFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Document</servlet-name>
    <servlet-class>com.jmw.filesite.web.servlet.Document</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DownFixedFile</servlet-name>
    <url-pattern>/servlet/DownFixedFile.do</url-pattern>
  </servlet-mapping>
<servlet-mapping>
		<servlet-name>SignUpload</servlet-name>
		<url-pattern>/servlet/SignUpload.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignShowPic</servlet-name>
		<url-pattern>/servlet/SignShowPic.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignDownFile</servlet-name>
		<url-pattern>/servlet/SignDownFile.do</url-pattern>
	</servlet-mapping>
<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/servlet/Upload.do</url-pattern>
	</servlet-mapping>
 <servlet-mapping>
		<servlet-name>UploadAndRename</servlet-name>
		<url-pattern>/servlet/UploadAndRename.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadAndRenameFive</servlet-name>
		<url-pattern>/servlet/UploadAndRenameFive.do</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>UploadFive</servlet-name>
		<url-pattern>/servlet/UploadFive.do</url-pattern>
	</servlet-mapping>
 <servlet-mapping>
		<servlet-name>CorpUploadAndRename</servlet-name>
		<url-pattern>/servlet/CorpUploadAndRename.do</url-pattern>
	</servlet-mapping>
 <servlet-mapping>
		<servlet-name>KbUpload</servlet-name>
		<url-pattern>/servlet/KbUpload.do</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownFile</servlet-name>
    <url-pattern>/servlet/DownFile.do</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>OnlineAuditingFile</servlet-name>
    <url-pattern>/servlet/OnlineAuditingFile.do</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
    <servlet-name>ReportOutputFile</servlet-name>
    <url-pattern>/servlet/ReportOutputFile.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OnlineAuditingUpload</servlet-name>
    <url-pattern>/servlet/OnlineAuditingUpload.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ReportOutputUpload</servlet-name>
    <url-pattern>/servlet/ReportOutputUpload.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>KbDownFile</servlet-name>
    <url-pattern>/servlet/KbDownFile.do</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>ShowPic</servlet-name>
    <url-pattern>/servlet/ShowPic.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OosFile</servlet-name>
    <url-pattern>/servlet/OosFile.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDel</servlet-name>
    <url-pattern>/servlet/FileDel.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Document</servlet-name>
    <url-pattern>/servlet/Document.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    	<servlet-name>DecryptFilePath</servlet-name>
    	<servlet-class>com.jmw.filesite.web.servlet.DecryptFilePath</servlet-class>
   </servlet>
   <servlet-mapping>
   		<servlet-name>DecryptFilePath</servlet-name>
   		<url-pattern>/servlet/DecryptFilePath.do</url-pattern>
   </servlet-mapping>
 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>